aiogram==2.5.2
aiodns==2.0.0
cchardet==2.1.4
APScheduler==3.6.0
umongo[motor]==2.1.0
uvloop==0.12.2
loguru==0.3.0
dnspython==1.16.0
python-rapidjson==0.7.2
python-dotenv==0.10.3
black==19.10b0
isort==4.3.21

aioredis==1.2.0
redis==3.2.1
https://github.com/Birdi7/inline-timepicker/archive/master.zip
